*.docx
*.rds
*.csv
*.xlsx
*.out
data/*
graphs/*
env_prs/*
results/*
PRS_calculated/*
archive/*
check_trial_error/*
*.nextflow/*
*.nextflow.*
nextflow
dx-toolkit*
dx-toolkit/*
DPhil meeting/*
output/*
work/*
*.Rmd
